.fondo {
  background-image: url(../imagenes/fondo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vh;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 20% 0 0 55%;
}

.title--text {
  width: 80vh;
  height: 15vh;
}

.play--btn {
  width: 85%;
  height: 30%;
}

.play {
  padding-top: 10px;
}

/* styles.css */

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h2 {
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.input-field {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-link {
  margin-top: 10px;
  text-align: center;
}

.signup-link a {
  color: #007bff;
}
